[submodule "breathe"]
	path = breathe
	url = https://github.com/michaeljones/breathe.git
[submodule "sphinx-bootstrap-theme"]
	path = sphinx-bootstrap-theme
	url = https://github.com/ryan-roemer/sphinx-bootstrap-theme.git
[submodule "pygments-style-github"]
	path = pygments-style-github
	url = https://github.com/hugomaiavieira/pygments-style-github.git
